h1{
    margin-top: .5em;
    margin-bottom: .5em;
}
table{
    width: 100%;

    //add button
    .tdAddButton{
        text-align: right;
        vertical-align: middle;
    }
    .spanAdd{
        font-weight: bold;
        background: lightgray;
        padding: .5em .8em;
        cursor: pointer;
        user-select: none;
        margin-right: .5em;
    }
}

.tableCoffeeList{
    width: 100%;
    border: 1px solid lightgray;
    h2{
        vertical-align: bottom;
        text-align: left;
        margin-left: .5em;
        margin-top: .5em;
        margin-bottom: .5em;
    }

    //desc
    .tdDesc{
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    //image
    .tdImage{
        width: 30%;
        text-align: center;
    }

    img{
        max-width: 100%;
    }

    //spans
    .tdButtons{
        text-align: right;
        vertical-align: top;
        padding-top: 1em;
        padding-right: 1em;
    }
    .spanEdit{
        font-weight: bold;
        background: lightgray;
        padding: .3em .8em;
        cursor: pointer;
        user-select: none;
        margin-right: .5em;
    }
    .spanRemove{
        font-weight: bold;
        background: red;
        color: black;
        padding: .3em .8em;
        cursor: pointer;
        user-select: none;
    }
}

.modalAlert{
    color: red;
    text-align: center;
    font-weight: bold;
}

.preview{
    width: 100%;
}