
<header>
  <div class="container">
    <a href="/" class="logo">C304Coffee</a>
    <nav>
      <ul>
        <li><a href="/" routerLink="/">Home</a></li>
        <li><a href="/coffees" routerLink="/coffees">Coffees</a></li>
        <li><span *ngIf="!isLoggedIn" (click)="open(content)">Login</span></li>
      </ul>
    </nav>
  </div>
</header>

<div class="banner">
  <img src="assets/images/banner.jpg">
</div>

<div class="container">
  <router-outlet></router-outlet>
  <ngb-alert *ngIf="alertShow" type="info" (close)="closeAlert()">{{ alertMessage }}</ngb-alert>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form>
          <div class="form-group">
              <label>Username</label>
              <input class="form-control" placeholder="username" name="username" [(ngModel)]="username">
              <br />
              <label>Password</label>
              <input class="form-control" placeholder="password" name="password" [(ngModel)]="password">
          </div>
      </form>
      <div *ngIf="modalAlertShow" class="modalAlert">
        {{ modalAlertMessage }}
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="submitForm()">Login</button>
  </div>
</ng-template>
