/* You can add global styles to this file, and also import other style files */

$primary: rgb(20, 20, 20);

body{
    margin: 0;
    font-size: 18px;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    background-color: $primary;
    padding: 1em 0;

    a{
        color: white;
        text-decoration: none;
    }

    a.logo{
        font-weight: bold;
    }

    span{
        color: white;
        text-decoration: none;
    }

    span.logo{
        font-weight: bold;
    }

    nav{
        float: right;

        ul{
            list-style-type: none;
            margin: 0;
            display: flex;

            li a{
                padding: 1em;

                &:hover{
                    background: lighten($primary, 10%);
                }
            }

            li span{
                padding: 1em;
                cursor: pointer;
                
                &:hover{
                    background: lighten($primary, 10%);
                    color: #000000;
                    text-decoration: underline;
                }
            }
        }
    }
}

h1{
    margin-top: 2em;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
